body{
	background-color:grey
}

.title{
	font-size:40px;font-weight:bold;
	text-align:center;
}

.menu-desktop{display:block}
.menu-mobile{display:none}
.frame{
	width:1200px;
	margin:0px auto;
	text-align:center;
	
}

.box{
	background-color:#ffcccc;
	width:260px;
	margin:10px;
	display:inline-block;vertical-align:top;
	
}

/* CSS 3 Media Query */
/* 手機尺寸320px-500px->平板1000px->電腦1920px */
/* 0~500px */
@media (max-width:500px) {
	/* 螢幕尺寸小於500px的時候，套用這個區塊的設定 */
	.title{
		font-size:20px;
	}
	.menu-desktop{display:none}
	.menu-mobile{display:block}
	.frame{
		width:100%;
	}
	.box{
		width:90%;
	}
}
/* 500px~1200px */
@media (max-width:1200px) {
	/* 螢幕尺寸小於1200px的時候，套用這個區塊的設定 */
	.frame{
		width:100%;
	}
	.box{
		width:45%;
	}
}